<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="../css/social-circles.min.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">home</a></li>
				<li><a href="/projects">projects</a></li>
				<li><a class="icon-github social-button grey" href="https://github.com/mshabram"></a></li>
				<li><a class="icon-linkedin social-button grey" href="https://www.linkedin.com/in/meganshabram/"></a></li>
				<li><a class="icon-twitter social-button grey" href="https://twitter.com/mshabram"></a></li>
				<li><span style="unicode-bidi: bidi-override; direction: rtl;"><span style="font-size: medium;">moc.liamg@marbahsm</span></span></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul></ul>
			</footer>
		</body>
	</html>
